---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.24.2
  hooks:
  - id: gitleaks
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1 # Vérifiez la dernière version disponible
  hooks:
  -   id: go-fmt
  -   id: go-imports # Optionnel : range aussi vos imports
